<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Footer 2</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- Site footer -->

<footer class="site-footer" style="padding: 45px 0 20px">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Devioz - Servicios de TI</h6>
        <p class="text-justify" style="color: #737373">
          En <i>Devioz </i>, transformamos ideas en realidades digitales.
          Descubre el poder de la innovación con nosotros.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Mapa de Sitio</h6>
        <ul class="footer-links">
          <li><a href="#">Inicio</a></li>
          <li>
            <a href="#">Nosotros</a>
          </li>
          <li>
            <a href="#">Productos</a>
          </li>
          <li>
            <a href="#">Servicios</a>
          </li>
          <li>
            <a href="#">Contáctanos</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Encuéntranos</h6>
        <ul class="footer-links">
          <li><a href="#">+51 953 704 473</a></li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text" style="color: #737373">
          Copyright &copy; 2024. Todos los derechos reservados por
          <a href="#">Devioz</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
          </li>
          <li>
            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- partial -->
  
</body>
</html>