<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Footer 1</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- ===== BOX ICONS ===== -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<!--===== FOOTER =====-->
<footer class="footer">
  <div class="footer__container bd-container">
    <h2 class="footer__title">Kenneth Hernan</h2>
    <p class="footer__description">Soy Kenneth esta es mi pie de página final.</p>

    <div class="footer__social">
      <a href="#" class="footer__link"><i class="bx bxl-linkedin"></i></a>
      <a href="#" class="footer__link"><i class="bx bxl-github"></i></a>
      <a href="#" class="footer__link"><i class="bx bxl-codepen"></i></a>
    </div>
    <p class="footer__copy">&#169; 2024 Kenneth Hernan. Todos los derechos reservados</p>
  </div>
</footer>
<!-- partial -->
  
</body>
</html>
