<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Carrusel</title>
	<link rel="stylesheet" href="./style.css">

</head>

<body>
	<!-- partial:index.partial.html -->
	<div class="container_carru">
		<div id="actions">
			<a id="arrowrigth">
				<img src="https://develover.com.mx/recursos_codepen/arrow.png" class="arrowrigth">
			</a>
			<a id="arrowleft">
				<img src="https://develover.com.mx/recursos_codepen/arrow.png" class="arrowleft">
			</a>
		</div>
		<div id="items">
			<img draggable="false" id="item"
				src="https://thumb9.shutterstock.com/display_pic_with_logo/176492940/1018241128/stock-vector-arabica-coffee-ads-with-a-cup-of-beverage-and-beans-in-d-illustration-with-retro-ingredient-plants-1018241128.jpg">
			<img draggable="false" id="item"
				src="https://image.shutterstock.com/image-vector/cup-coffee-beans-graphic-260nw-487613659.jpg">
			<img draggable="false" id="item"
				src="https://image.shutterstock.com/image-vector/coffee-graphic-design-vector-illustration-260nw-227954110.jpg">
			<img draggable="false" id="item" src="https://image.shutterstock.com/image-photo/fresh-coffee-260nw-97048451.jpg">
			<img draggable="false" id="item"
				src="https://image.shutterstock.com/image-photo/cup-coffee-beans-cinnamon-sticks-260nw-133418606.jpg">
		</div>
	</div>
	<!-- partial -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.4/hammer.min.js'></script>
	<script src="./script.js"></script>

</body>

</html>