// -------- PARTE HEADER

body {
  height: auto;
}
.content-header {
  position: fixed;
  top: 1 px;
  left: 1px;
  width: 100%;
  height: 100px;
  z-index: 99;
  margin-top: 10px;
}
.header-logo {
  width: 300px;
  margin-left: 5%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(14, 29, 51, 0.8),
    rgba(14, 29, 51, 0.2)
  );
}

.hero-slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-slider .carousel-cell {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-slider .carousel-cell .inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  text-align: center;
}
.hero-slider .carousel-cell .inner .subtitle {
  font-family: "Roboto Slab", serif;
  font-size: 2.2rem;
  line-height: 1.2em;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
}
.hero-slider .carousel-cell .inner .title {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 40px;
}
.hero-slider .carousel-cell .inner .btn {
  border: 1px solid #fff;
  padding: 14px 18px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 3px;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease;
}
.hero-slider .carousel-cell .inner .btn:hover {
  background: #fff;
  color: #000;
}
.hero-slider .flickity-prev-next-button {
  width: 80px;
  height: 80px;
  background: transparent;
}
.hero-slider .flickity-prev-next-button:hover {
  background: transparent;
}
.hero-slider .flickity-prev-next-button .arrow {
  fill: white;
}
.hero-slider .flickity-page-dots {
  bottom: 30px;
}
.hero-slider .flickity-page-dots .dot {
  width: 30px;
  height: 4px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.5);
  border: 0 solid white;
  border-radius: 0;
}
.hero-slider .flickity-page-dots .dot.is-selected {
  background: #ffff;
  border: 0 solid #ffff;
}

//Fin CSS carrucel

.content-body {
  width: 100%;
  height: auto;
}
.body-cabezera {
  width: 100%;
  height: auto;
  background: #FFFF;
  color: black;
  font-size:25px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  font-family: "Roboto Slab", serif;
}
.body-cabezera-2 {
  width: 100%;
  height: auto;
  padding: 40px 0;
  background: #031019;
  color: #ffff;
  font-size:25px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  font-family: "Roboto Slab", serif;
}

.body-cabezera b{
  font-weight: bold;
}
.body-componente{
  width: 100%;
  height: 200px;
  color: black;
  font-size:25px;
  display: flex;
  justify-content:center;
  align-items:center;
  font-family: "Roboto Slab", serif;
}

//------- FOOTER--------------

.site-footer
{
  background-color: #031019;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
// SLIDER 2 INFINITOO

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: #031019;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  display:flex;
  flex-direccion: row;
}
.slider::before, .slider::after {
  background: rgb(3,16,25);
background: linear-gradient(90deg, rgba(3,16,25,1) 45%, rgba(255,255,255,0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}
// CARRUSEL TARGETAS PEQUEÑAS
.container_carru {
	background: #151515;
	position: relative;
  }
  .container_carru #actions #arrowrigth .arrowrigth {
	cursor: pointer;
	top: 50%;
	width: 5%;
	position: absolute;
	z-index: 201;
	right: 10px;
	-webkit-transform: rotate(268deg);
	-moz-transform: rotate(268deg);
	-o-transform: rotate(268deg);
	transform: rotate(268deg);
  }
  .container_carru #actions #arrowleft .arrowleft {
	cursor: pointer;
	top: 50%;
	width: 5%;
	position: absolute;
	z-index: 201;
	left: 10px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
  }
  .container_carru #items {
	padding: 5%;
	cursor: move;
	z-index: 200;
	overflow: hidden;
	height: 750px;
	position: relative;
	/*lado izquierdo*/
  }
  @media only screen and (max-width: 2150px) {
	.container_carru #items {
	  height: 630px;
	}
  }
  @media only screen and (max-width: 2000px) {
	.container_carru #items {
	  height: 570px;
	}
  }
  @media only screen and (max-width: 1900px) {
	.container_carru #items {
	  height: 540px;
	}
  }
  @media only screen and (max-width: 1780px) {
	.container_carru #items {
	  height: 500px;
	}
  }
  @media only screen and (max-width: 1680px) {
	.container_carru #items {
	  height: 470px;
	}
  }
  @media only screen and (max-width: 1565px) {
	.container_carru #items {
	  height: 420px;
	}
  }
  @media only screen and (max-width: 1430px) {
	.container_carru #items {
	  height: 390px;
	}
  }
  @media only screen and (max-width: 1330px) {
	.container_carru #items {
	  height: 360px;
	}
  }
  @media only screen and (max-width: 1230px) {
	.container_carru #items {
	  height: 330px;
	}
  }
  @media only screen and (max-width: 970px) {
	.container_carru #items {
	  height: 310px;
	}
  }
  @media only screen and (max-width: 875px) {
	.container_carru #items {
	  height: 270px;
	}
  }
  @media only screen and (max-width: 785px) {
	.container_carru #items {
	  height: 240px;
	}
  }
  @media only screen and (max-width: 700px) {
	.container_carru #items {
	  height: 235px;
	}
  }
  @media only screen and (max-width: 640px) {
	.container_carru #items {
	  height: 150px;
	}
  }
  @media only screen and (max-width: 400px) {
	.container_carru #items {
	  height: 125px;
	}
  }
  .container_carru #items #item {
	display: none;
	height: 80%;
	position: absolute;
  }
  .container_carru #items .img_left {
	display: block !important;
	left: 50%;
	opacity: 0.4;
	z-index: 0;
	-webkit-transform: translateX(-100%) scale(0.9);
	-moz-transform: translateX(-100%) scale(0.9);
	-o-transform: translateX(-100%) scale(0.9);
	transform: translateX(-100%) scale(0.9);
  }
  .container_carru #items .img_rigth {
	display: block !important;
	left: 50%;
	opacity: 0.4;
	-webkit-transform: translateX(0%) scale(0.9);
	-moz-transform: translateX(0%) scale(0.9);
	-o-transform: translateX(0%) scale(0.9);
	transform: translateX(0%) scale(0.9);
	z-index: 0;
  }
  .container_carru #items .img_center {
	display: block !important;
	left: 50%;
	-webkit-transform: translateX(-50%) scale(1);
	-moz-transform: translateX(-50%) scale(1);
	-o-transform: translateX(-50%) scale(1);
	transform: translateX(-50%) scale(1);
	z-index: 90;
  }
  .container_carru #items .animaterigthR {
	-webkit-animation-name: rigthR;
	-moz-animation-name: rigthR;
	-o-animation-name: rigthR;
	animation-name: rigthR;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	animation-timing-function: ease;
  }
  @keyframes rigthR {
	0% {
	  opacity: 1;
	  -webkit-transform: translateX(-50%) scale(1);
	  -moz-transform: translateX(-50%) scale(1);
	  -o-transform: translateX(-50%) scale(1);
	  transform: translateX(-50%) scale(1);
	  z-index: 90;
	}
	30% {
	  opacity: 1;
	  -webkit-transform: translateX(10%) scale(0.94);
	  -moz-transform: translateX(10%) scale(0.94);
	  -o-transform: translateX(10%) scale(0.94);
	  transform: translateX(10%) scale(0.94);
	  z-index: 50;
	}
	100% {
	  opacity: 0.4;
	  -webkit-transform: translateX(0%) scale(0.9);
	  -moz-transform: translateX(0%) scale(0.9);
	  -o-transform: translateX(0%) scale(0.9);
	  transform: translateX(0%) scale(0.9);
	  z-index: 0;
	}
  }
  @-webkit-keyframes rigthR {
	0% {
	  opacity: 1;
	  -webkit-transform: translateX(-50%) scale(1);
	  -moz-transform: translateX(-50%) scale(1);
	  -o-transform: translateX(-50%) scale(1);
	  transform: translateX(-50%) scale(1);
	  z-index: 90;
	}
	30% {
	  opacity: 1;
	  -webkit-transform: translateX(10%) scale(0.94);
	  -moz-transform: translateX(10%) scale(0.94);
	  -o-transform: translateX(10%) scale(0.94);
	  transform: translateX(10%) scale(0.94);
	  z-index: 50;
	}
	100% {
	  opacity: 0.4;
	  -webkit-transform: translateX(0%) scale(0.9);
	  -moz-transform: translateX(0%) scale(0.9);
	  -o-transform: translateX(0%) scale(0.9);
	  transform: translateX(0%) scale(0.9);
	  z-index: 0;
	}
  }
  .container_carru #items .animaterigthL {
	-webkit-animation-name: rigthL;
	-moz-animation-name: rigthL;
	-o-animation-name: rigthL;
	animation-name: rigthL;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	animation-timing-function: ease;
  }
  @keyframes rigthL {
	0% {
	  left: 50%;
	  opacity: 0.1;
	  -webkit-transform: translateX(0%) scale(0.9);
	  -moz-transform: translateX(0%) scale(0.9);
	  -o-transform: translateX(0%) scale(0.9);
	  transform: translateX(0%) scale(0.9);
	  z-index: 0;
	}
	100% {
	  left: 50%;
	  opacity: 0.4;
	  z-index: 0;
	  -webkit-transform: translateX(-100%) scale(0.9);
	  -moz-transform: translateX(-100%) scale(0.9);
	  -o-transform: translateX(-100%) scale(0.9);
	  transform: translateX(-100%) scale(0.9);
	}
  }
  @-webkit-keyframes rigthL {
	0% {
	  left: 50%;
	  opacity: 0.1;
	  -webkit-transform: translateX(0%) scale(0.9);
	  -moz-transform: translateX(0%) scale(0.9);
	  -o-transform: translateX(0%) scale(0.9);
	  transform: translateX(0%) scale(0.9);
	  z-index: 0;
	}
	100% {
	  left: 50%;
	  opacity: 0.4;
	  z-index: 0;
	  -webkit-transform: translateX(-100%) scale(0.9);
	  -moz-transform: translateX(-100%) scale(0.9);
	  -o-transform: translateX(-100%) scale(0.9);
	  transform: translateX(-100%) scale(0.9);
	}
  }
  .container_carru #items .animaterigthC {
	-webkit-animation-name: rigthC;
	-moz-animation-name: rigthC;
	-o-animation-name: rigthC;
	animation-name: rigthC;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	animation-timing-function: ease;
  }
  @keyframes rigthC {
	0% {
	  left: 50%;
	  opacity: 0.4;
	  z-index: 0;
	  -webkit-transform: translateX(-100%) scale(0.9);
	  -moz-transform: translateX(-100%) scale(0.9);
	  -o-transform: translateX(-100%) scale(0.9);
	  transform: translateX(-100%) scale(0.9);
	}
	20% {
	  left: 50%;
	  opacity: 1;
	  z-index: 0;
	  -webkit-transform: translateX(-110%) scale(0.94);
	  -moz-transform: translateX(-110%) scale(0.94);
	  -o-transform: translateX(-110%) scale(0.94);
	  transform: translateX(-110%) scale(0.94);
	  z-index: 50;
	}
	100% {
	  left: 50%;
	  -webkit-transform: translateX(-50%);
	  -moz-transform: translateX(-50%);
	  -o-transform: translateX(-50%);
	  transform: translateX(-50%);
	  z-index: 90;
	}
  }
  @-webkit-keyframes rigthC {
	0% {
	  left: 50%;
	  opacity: 0.4;
	  z-index: 0;
	  -webkit-transform: translateX(-100%) scale(0.9);
	  -moz-transform: translateX(-100%) scale(0.9);
	  -o-transform: translateX(-100%) scale(0.9);
	  transform: translateX(-100%) scale(0.9);
	}
	20% {
	  left: 50%;
	  opacity: 1;
	  z-index: 0;
	  -webkit-transform: translateX(-110%) scale(0.94);
	  -moz-transform: translateX(-110%) scale(0.94);
	  -o-transform: translateX(-110%) scale(0.94);
	  transform: translateX(-110%) scale(0.94);
	  z-index: 50;
	}
	100% {
	  left: 50%;
	  -webkit-transform: translateX(-50%);
	  -moz-transform: translateX(-50%);
	  -o-transform: translateX(-50%);
	  transform: translateX(-50%);
	  z-index: 90;
	}
  }
  .container_carru #items .animateleftL {
	-webkit-animation-name: leftL;
	-moz-animation-name: leftL;
	-o-animation-name: leftL;
	animation-name: leftL;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	animation-timing-function: ease;
  }
  @keyframes leftL {
	0% {
	  left: 50%;
	  opacity: 1;
	  -webkit-transform: translateX(-50%) scale(1);
	  -moz-transform: translateX(-50%) scale(1);
	  -o-transform: translateX(-50%) scale(1);
	  transform: translateX(-50%) scale(1);
	  z-index: 90;
	}
	30% {
	  left: 50%;
	  opacity: 1;
	  z-index: 0;
	  -webkit-transform: translateX(-110%) scale(0.94);
	  -moz-transform: translateX(-110%) scale(0.94);
	  -o-transform: translateX(-110%) scale(0.94);
	  transform: translateX(-110%) scale(0.94);
	  z-index: 50;
	}
	100% {
	  left: 50%;
	  opacity: 0.4;
	  z-index: 0;
	  -webkit-transform: translateX(-100%) scale(0.9);
	  -moz-transform: translateX(-100%) scale(0.9);
	  -o-transform: translateX(-100%) scale(0.9);
	  transform: translateX(-100%) scale(0.9);
	}
  }
  @-webkit-keyframes leftL {
	0% {
	  left: 50%;
	  opacity: 1;
	  -webkit-transform: translateX(-50%) scale(1);
	  -moz-transform: translateX(-50%) scale(1);
	  -o-transform: translateX(-50%) scale(1);
	  transform: translateX(-50%) scale(1);
	  z-index: 90;
	}
	30% {
	  left: 50%;
	  opacity: 1;
	  z-index: 0;
	  -webkit-transform: translateX(-110%) scale(0.94);
	  -moz-transform: translateX(-110%) scale(0.94);
	  -o-transform: translateX(-110%) scale(0.94);
	  transform: translateX(-110%) scale(0.94);
	  z-index: 50;
	}
	100% {
	  left: 50%;
	  opacity: 0.4;
	  z-index: 0;
	  -webkit-transform: translateX(-100%) scale(0.9);
	  -moz-transform: translateX(-100%) scale(0.9);
	  -o-transform: translateX(-100%) scale(0.9);
	  transform: translateX(-100%) scale(0.9);
	}
  }
  .container_carru #items .animateleftR {
	-webkit-animation-name: leftR;
	-moz-animation-name: leftR;
	-o-animation-name: leftR;
	animation-name: leftR;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	animation-timing-function: ease;
  }
  @keyframes leftR {
	0% {
	  left: 50%;
	  opacity: 0.1;
	  z-index: 0;
	  -webkit-transform: translateX(-100%) scale(0.9);
	  -moz-transform: translateX(-100%) scale(0.9);
	  -o-transform: translateX(-100%) scale(0.9);
	  transform: translateX(-100%) scale(0.9);
	}
	100% {
	  left: 50%;
	  opacity: 0.4;
	  -webkit-transform: translateX(0%) scale(0.9);
	  -moz-transform: translateX(0%) scale(0.9);
	  -o-transform: translateX(0%) scale(0.9);
	  transform: translateX(0%) scale(0.9);
	  z-index: 0;
	}
  }
  @-webkit-keyframes leftR {
	0% {
	  left: 50%;
	  opacity: 0.1;
	  z-index: 0;
	  -webkit-transform: translateX(-100%) scale(0.9);
	  -moz-transform: translateX(-100%) scale(0.9);
	  -o-transform: translateX(-100%) scale(0.9);
	  transform: translateX(-100%) scale(0.9);
	}
	100% {
	  left: 50%;
	  opacity: 0.4;
	  -webkit-transform: translateX(0%) scale(0.9);
	  -moz-transform: translateX(0%) scale(0.9);
	  -o-transform: translateX(0%) scale(0.9);
	  transform: translateX(0%) scale(0.9);
	  z-index: 0;
	}
  }
  .container_carru #items .animateleftC {
	-webkit-animation-name: leftC;
	-moz-animation-name: leftC;
	-o-animation-name: leftC;
	animation-name: leftC;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	animation-timing-function: ease;
  }
  @-webkit-keyframes leftC {
	0% {
	  opacity: 0.4;
	  -webkit-transform: translateX(0%) scale(0.9);
	  -moz-transform: translateX(0%) scale(0.9);
	  -o-transform: translateX(0%) scale(0.9);
	  transform: translateX(0%) scale(0.9);
	  z-index: 0;
	}
	20% {
	  opacity: 1;
	  -webkit-transform: translateX(10%) scale(0.94);
	  -moz-transform: translateX(10%) scale(0.94);
	  -o-transform: translateX(10%) scale(0.94);
	  transform: translateX(10%) scale(0.94);
	  z-index: 0;
	}
	100% {
	  opacity: 1;
	  -webkit-transform: translateX(-50%);
	  -moz-transform: translateX(-50%);
	  -o-transform: translateX(-50%);
	  transform: translateX(-50%);
	  z-index: 90;
	}
  }
  @keyframes leftC {
	0% {
	  opacity: 0.4;
	  -webkit-transform: translateX(0%) scale(0.9);
	  -moz-transform: translateX(0%) scale(0.9);
	  -o-transform: translateX(0%) scale(0.9);
	  transform: translateX(0%) scale(0.9);
	  z-index: 0;
	}
	20% {
	  opacity: 1;
	  -webkit-transform: translateX(10%) scale(0.94);
	  -moz-transform: translateX(10%) scale(0.94);
	  -o-transform: translateX(10%) scale(0.94);
	  transform: translateX(10%) scale(0.94);
	  z-index: 0;
	}
	100% {
	  opacity: 1;
	  -webkit-transform: translateX(-50%);
	  -moz-transform: translateX(-50%);
	  -o-transform: translateX(-50%);
	  transform: translateX(-50%);
	  z-index: 90;
	}
  }
  
  .redes {
	display: flex;
	margin: 0;
	list-style: none;
	justify-content: center;
	margin-top: 40px;
	padding: 0;
	flex-wrap: wrap;
  }
  .redes li {
	box-shadow: 0px 0px 5px 0px #f1e42cb2;
	background: #1b1b1b;
	width: 40px;
	height: 40px;
	position: relative;
	margin: 0 8px;
	border-radius: 50%;
	transition: all 600ms;
	-webkit-transition: all 600ms;
  }
  .redes li.titulo {
	width: 100%;
	text-align: center;
	height: auto;
	background: none;
	margin-bottom: 15px;
	border-radius: 0;
	color: white;
	box-shadow: none;
  }
  .redes li:hover:not(.titulo) {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
  }
  .redes li img {
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	position: absolute;
	height: 20px;
	left: 50%;
  }
// PAGINACIION - C
.blog-slider {
	width: 100PX;
	position: relative;
	max-width: 800px;
	margin: auto;
	background: #fff;
	box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
	padding: 25px;
	border-radius: 25px;
	height: 400px;
	transition: all 0.3s;
  }
  @media screen and (max-width: 992px) {
	.blog-slider {
	  max-width: 680px;
	  height: 400px;
	}
  }
  @media screen and (max-width: 768px) {
	.blog-slider {
	  min-height: 500px;
	  height: auto;
	  margin: 180px auto;
	}
  }
  @media screen and (max-height: 500px) and (min-width: 992px) {
	.blog-slider {
	  height: 350px;
	}
  }
  .blog-slider__item {
	display: flex;
	align-items: center;
  }
  @media screen and (max-width: 768px) {
	.blog-slider__item {
	  flex-direction: column;
	}
  }
  .blog-slider__item.swiper-slide-active .blog-slider__img img {
	opacity: 1;
	transition-delay: 0.3s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > * {
	opacity: 1;
	transform: none;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
	transition-delay: 0.3s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
	transition-delay: 0.4s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
	transition-delay: 0.5s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
	transition-delay: 0.6s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
	transition-delay: 0.7s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
	transition-delay: 0.8s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
	transition-delay: 0.9s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
	transition-delay: 1s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
	transition-delay: 1.1s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
	transition-delay: 1.2s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
	transition-delay: 1.3s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
	transition-delay: 1.4s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
	transition-delay: 1.5s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
	transition-delay: 1.6s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
	transition-delay: 1.7s;
  }
  .blog-slider__img {
	width: 300px;
	flex-shrink: 0;
	height: 300px;
	background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
	box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
	border-radius: 20px;
	transform: translateX(-80px);
	overflow: hidden;
  }
  .blog-slider__img:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
	border-radius: 20px;
	opacity: 0.8;
  }
  .blog-slider__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	opacity: 0;
	border-radius: 20px;
	transition: all 0.3s;
  }
  @media screen and (max-width: 768px) {
	.blog-slider__img {
	  transform: translateY(-50%);
	  width: 90%;
	}
  }
  @media screen and (max-width: 576px) {
	.blog-slider__img {
	  width: 95%;
	}
  }
  @media screen and (max-height: 500px) and (min-width: 992px) {
	.blog-slider__img {
	  height: 270px;
	}
  }
  .blog-slider__content {
	padding-right: 25px;
  }
  @media screen and (max-width: 768px) {
	.blog-slider__content {
	  margin-top: -80px;
	  text-align: center;
	  padding: 0 30px;
	}
  }
  @media screen and (max-width: 576px) {
	.blog-slider__content {
	  padding: 0;
	}
  }
  .blog-slider__content > * {
	opacity: 0;
	transform: translateY(25px);
	transition: all 0.4s;
  }
  .blog-slider__code {
	color: #7b7992;
	margin-bottom: 15px;
	display: block;
	font-weight: 500;
  }
  .blog-slider__title {
	font-size: 24px;
	font-weight: 700;
	color: #0d0925;
	margin-bottom: 20px;
  }
  .blog-slider__text {
	color: #4e4a67;
	margin-bottom: 30px;
	line-height: 1.5em;
  }
  .blog-slider__button {
	display: inline-flex;
	background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
	padding: 15px 35px;
	border-radius: 50px;
	color: #fff;
	box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
	text-decoration: none;
	font-weight: 500;
	justify-content: center;
	text-align: center;
	letter-spacing: 1px;
  }
  @media screen and (max-width: 576px) {
	.blog-slider__button {
	  width: 100%;
	}
  }
  .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
	bottom: 10px;
	left: 0;
	width: 100%;
  }
  .blog-slider__pagination {
	position: absolute;
	z-index: 21;
	right: 20px;
	width: 11px !important;
	text-align: center;
	left: auto !important;
	top: 50%;
	bottom: auto !important;
	transform: translateY(-50%);
  }
  @media screen and (max-width: 768px) {
	.blog-slider__pagination {
	  transform: translateX(-50%);
	  left: 50% !important;
	  top: 205px;
	  width: 100% !important;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
  }
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 8px 0;
  }
  @media screen and (max-width: 768px) {
	.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
	  margin: 0 5px;
	}
  }
  .blog-slider__pagination .swiper-pagination-bullet {
	width: 11px;
	height: 11px;
	display: block;
	border-radius: 10px;
	background: #062744;
	opacity: 0.2;
	transition: all 0.3s;
  }
  .blog-slider__pagination .swiper-pagination-bullet-active {
	opacity: 1;
	background: #fd3838;
	height: 30px;
	box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
  }
  @media screen and (max-width: 768px) {
	.blog-slider__pagination .swiper-pagination-bullet-active {
	  height: 11px;
	  width: 30px;
	}
  }
  // PAGINACION

  .body-cabezera p{
	margin-bottom: 30px;
  }
  .secciones{
	width: 100vh;
	height: 600px;
	margin: 10Px 20px;
	padding: 10px;
	border: 1px solid #B1B1B1;
  }
  .secciones article{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-around;
	overflow:scroll;
  }
  .slide{
	flex: 0 calc(50% - 20px); 
	box-sizing: border-box; 
	margin: 10px;
	padding:0;
	height:auto;
	overflow:hidden;
  }

  .taps_text{
	color: #1d1e22; 
	text-decoration: none;
  }
  .taps_text:hover{
	color: #04111a; 
	text-decoration: none;
	border-bootom: 1px solid red;
  }
  .taps_li{
	padding: 10px 20px;
	margin: 0 20px; 
	font-size: 15px;
  }
  .taps_li:hover{
	border: 1px solid #B1B1B1;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
  }

